*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #131720 !important; 
}

.game { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pronpt{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button{
    width: 200px;
    height: 40px;
    border-radius:50px;
    cursor: pointer;
    border: none;
    background-color: purple;
    font-size: medium;
    font-weight: bold;
    color: white;
    margin: 0 20px;
}

.button:disabled{
    cursor: auto;
    background-color: rgba(128, 0, 128, 0.2);
    color: rgba(255, 255, 255, 0.2);
}

.sort-text{
    font-size: 48px;
    margin: 5rem;
}

.divTable{
    background-color: green;
    border-radius: 20px;
    width: 800px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

table{
    background-color: #131720;
    border-radius: 20px;
    width: 720px;
    align-items: center;
    max-height: 100px;
    overflow-y: scroll;
}

thead th{
    padding-top: 20px;
    padding-bottom: 10px;
}

thead tr th, tbody tr td,span{
    text-align: center;

}
